/* :root {
  --primary: #fff;
  --text: #000;
  --accent: #4361ee;
  --dark-surface: #faebdc; 
  --surface: #fffaf5;
  --shadow: rgba(0,0,0,0.1);
} */

:root {
  --primary: #202020;
  --text: #dddddd;
  --accent: #6140c4;
  --dark-surface: #232323; 
  --surface: #333333;
  --shadow: rgba(0,0,0,0.1);
}

/* 11 15 */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

*{
  margin: 0;
  box-sizing: border-box;
  /* border: red 1px solid; */
  font-family: 'Montserrat';
  color: var(--text);
}

body {
  background-color: var(--primary);
}

html {
  scroll-behavior: smooth;
}

a{
  color: var(--text);
}

.light {
  font-weight: 400;
}

h1 {
  font-weight: 600;
  font-size: 1.4em;
}

h2 {
  font-weight: 400;
  font-size: 1.2em;
}

header {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;   
  z-index: 1000;
  box-shadow: 0 2px 5px var(--shadow); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.toogleBtn {
  display: none;
}

#projets {
  text-align: center;
  background-color: var(--accent);
  border: var(--accent) solid 2px;
  color: var(--text);
  transition: 200ms;
  padding: 5px 10px;
  font-size: 0.9em;
  border-radius: 25px;
  cursor: pointer;
}

#projets:hover {
  background-color: var(--primary);
  color: var(--text);
}

.title, .liens{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1, .title h2{
  margin: 0 10px;
}


.blue {
  color: var(--accent);
}

.liens a{
  margin: 0 15px;
  text-decoration: none;
}

.info {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoBg{
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  /* z-index: -1; */
  background-color: var(--surface);
}

.infoBox {
  display: flex;
  width: 50%;
  height: fit-content;
  transform: translateX(-20%);
  /* background: var(--primary); */
  border-radius: 10px;
}

.infoLeft {
  width: 40%;
  height: fit-content;
  border-radius: 10px;
  background: var(--dark-surface);
  /* background: var(--surface); */
  box-shadow: -20px 20px 30px 0px var(--shadow);
  -webkit-box-shadow: -20px 20px 30px 0px var(--shadow);
  -moz-box-shadow: -20px 20px 30px 0px var(--shadow);
  display: flex;
  flex-direction: column;
  padding: 50px 0 65px 0;
  align-items: center;
}

.profilePicture img{
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.right {
  text-align: end;
  margin-left: 1rem;
}

.infoDescription {
  list-style-type: none;
  padding-left: 0; 
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.infoDescription h1{
  margin-bottom: 2px;
}

.orderInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#actual_status {
  position: relative;
}

#actual_status::before {
  content: "";
  display: block;
  width: 70px;                 
  margin: 15px auto;
  border-bottom: 3px solid var(--accent);
  border-radius: 10px;
}

.infoRight {
  width: 60%;
  padding: 40px 45px;
}

.titleInfo {
  margin-bottom: 30px;
  font-size: 2.2em;
}

.infoRightContaine {
  margin-left: 10px;

}

.infoRightContaine h2{
  margin-bottom: 10px;

}

.liensInfo {
  background:none;
  margin-top: 40px;
  /* height: 35px; */
  display: flex;
}

.liensInfo a{
  display: flex;
  /* height: 100%; */
  /* width: 10rem; */
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.9em;
  border-radius: 25px;
  cursor: pointer;
  padding: .4rem .7rem;
}

.moreBtn{
  background-color: var(--accent);
  border: var(--accent) solid 2px;
  color: var(--text);
  margin-right: 2%;
  transition: 200ms;
}

.moreBtn:hover{
  background-color: var(--primary);
  font-weight: 500;
  transform: translateY(-2px);

}

.xpBtn{
  background: none;
  border: var(--text) solid 2px;
  transition: 200ms;
}

.xpBtn:hover{
  background-color: var(--accent);
  color: var(--primary);
  border: var(--accent) solid 2px;
  font-weight: 500;
  transform: translateY(-2px);
}
.infoRightContaine p {
  margin-bottom: .5rem;
}


#more {
  text-underline-offset: .2rem;
  text-decoration: 2px underline var(--accent);
}


.icon {
  width: 24px;
  height: auto;
}

.more_about_me {
  padding: 13vh 100px 0 100px;
  min-height: 100vh;
  position: relative;
}
.more_about_me_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1.5rem;
  width: 100%;
}
.about_me {
  width: 100%;
  max-width: 50rem;
}

.about_me_description {
  margin: 1.5rem .5rem;
  display: flex;
  flex-direction: column; 
  text-align: justify; 
}

.info_row{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

/* .info_row p{
  font-size: 1.2rem;
} */

.info_row img{
  margin-right: 1rem;
}

.skills_preview {
  width: 100%;
}

.carousel {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  pointer-events: none; 
  z-index: 2;
}

.carousel::before {
  left: 0;
  background: linear-gradient(to right, var(--primary) 0%, transparent 100%);
}

.carousel::after {
  right: 0;
  background: linear-gradient(to left, var(--primary) 0%, transparent 100%);
}

.skills_list {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  animation: spin 15s infinite linear;
  padding-right: 1.5rem;
}

.skill {
  display: flex;
  flex: 0 0 12rem; 
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  line-height: 2rem;
  height: 9rem;
  background-color: var(--surface);
  border-radius: 1rem;
}

.carousel_img {
  width: 3rem;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}
.os_pref {
  text-align: start;
  font-size: 1.2rem;
  margin: 1rem;
}

.experiences {
  padding: 13vh 100px 0 100px;
  min-height: 100vh;
  position: relative;
}

.containerFrise {
  display: flex;
  justify-content: space-around;
  /* width: 50%; */
  padding: 0 25%;
}

.frise {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.step::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--accent);
  align-self: center;
  margin-bottom: 15px;
}

.year {
  font-size: 1.2em;
}

.place {
  font-size: 1.2em;
  margin-top: 3px;
}

.status {
  font-weight: 600;
  font-size: 1.3em;
  margin-top: 7px;
}

.experience {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.expContainer {
  display: flex;
  justify-content: space-between;
}

.expBlock{
  padding: 30px 35px 35px 35px ;
  background-color: var(--dark-surface);
  border-radius: 15px;
  box-shadow: -5px 3px 8px 0px var(--shadow);
  -webkit-box-shadow: -5px 3px 8px 0px var(--shadow);
  -moz-box-shadow: -5px 1px 3px 0px var(--shadow);
}

.expTitle_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.expTitle {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 3px;
  text-decoration-style: solid;
  font-size: 1.3rem;
  text-underline-offset: 5px;
  font-weight: 500;
}
.expBlock h3{
  font-weight: 400;
}

.expBlock a{
  text-decoration: none;
  width: fit-content; 
  display: flex;
  align-items: center;
}
.one_line {
  display: flex;
  justify-content: space-between;
}

.expDuration{
  margin-top: .3rem;
  text-wrap: nowrap;
  margin-left: 1.5rem;
}

.expBlock p{
  margin-top: 15px;
}

.link_icon {
  margin-left: .2rem;
  width: 18px;
  height: 18px;
}

#cv2 {
  background: url('./images/backgroundCV.jpg') no-repeat center center;
  background-size: cover; 
  background-attachment: scroll; 
  color: var(--primary);
}



.competence {
  margin-top: 50px;
}
.competence h1{
  margin-bottom: 15px;
}

.maitrises, .non-maitrises{
  margin: 20px 15px;
}

.maitrises ul, .non-maitrises ul{
  margin-top: 15px;
  list-style: none;
  font-size: 1.2em;
}

.os {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.os img{
  width: 100px;
  margin-bottom: 25px;
}


.contacte {
  height: 100vh;
}

iframe {
  width: 100%;
  height: 600px;  
}



@media screen and (max-width: 993px) {
  header {
    padding: 0 20px;
  }

  .title h1, .title h2 {
    margin: 0 5px;
  }

  h1 {
    font-size: 1.3em
  }

  h2 {
    font-size: 1.2em
  }

  .infoBox {
    width: 70%;
    transform: translateX(0%);

  }

  .experience {
    grid-template-columns: repeat(2, 1fr);

  }

  .experiences {
    height: unset;
    padding: 13vh 50px 150px 50px;
  }

  .liens a{
    font-size: 0.9rem;
    margin: 0 10px;
  }

  #projets {
    padding: 3px 7px;
  }

  .containerFrise {
    padding: 0 15%;
  }

  .more_about_me_container {
    justify-content: start;
  }
  
  .skill {
    font-size: 1rem;
  }
  .os_pref {
    font-size: 1rem;
  }
}

@media screen and (max-width: 820px) {

  .liens {
    background-color: var(--surface);
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;   
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px 7%;
    border-radius: 0 25px 25px 0;
    box-shadow: -20px 20px 30px 0px var(--shadow);
    -webkit-box-shadow: 0px 20px 30px 0px var(--shadow);
    -moz-box-shadow: -20px 20px 30px 0px var(--shadow);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .active {
    transform: translateX(0); 
  }

  .liens a {
    color: var(--text);
    font-size: 1.6em;
    margin-bottom: 20px;
    font-weight: 600;
  }
  #closePanel{
    margin-bottom: 50px;
    width: 40px;
  }

  .toogleBtn {
    display: block;
    border: none;
    background: none;
    width: 50px;
    margin-right: 5px;
    cursor: pointer;
  }

  .toogleBtn img {
    width: 100%;
  }
  .profilePicture {
    width: 40%;
    display: flex;
    justify-content: center;
  }

  #projets {
    padding: 7px 15px;
    font-size: 1.2em;
  }

  .infoRightContaine p {
    font-size: 1em;
  }

  p, .skill{
    font-size: .9em;
  }

  .info {
    margin-top: 10vh;
    align-items: start;
    min-height: 50rem;
  }

  .infoBox {
    width: 90%;
  }

  .expDate {
    margin-top: 10px;
  }

  .competence {
    padding: 0 40px;
  }

  #linkContacte {
    left: 70px;
  }

  .os {
    font-size: .9em;
  }

  .experiences {
    padding: 100px 30px;
    padding-bottom: 170px;
    
  }
  .experience {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .os_pref {
    margin-right: 0;
  }
  .more_about_me{
    padding: 7rem 3rem 0 3rem;

  }
}

@media screen and (max-width: 820px) and (min-width: 580px) {
  .info {
    padding-top: 10vh;
  }
  .infoBox{
    flex-direction: column;
    backdrop-filter: blur(20px);
    box-shadow: -20px 20px 30px 0px var(--shadow);
    -webkit-box-shadow: 0px 20px 30px 0px var(--shadow);
    -moz-box-shadow: -20px 20px 30px 0px var(--shadow);
    border-radius: 20px;
  }

  .infoLeft {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }


  .infoDescription {
    width: 60%;
    align-items: start;
    justify-content: center;
    text-align: left;
    padding-right: 65px;
  }

  .infoDescription h1 {
    font-size: 2em;
    font-weight: 700;
    margin: 20px 0 10px 0 ; 
  }

  .orderInfo {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    position: relative;
    margin-top: 25px;
  }

  #actual_status::before {
    display: none;
  }



  .orderInfo::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;                 
    margin: 40px 0;
    border-top: 3px solid var(--accent);
    border-radius: 10px;
  }


}

@media screen and (max-width: 580px) {

  header {
    padding: 0 15px;
  }
  .liens {
    width: 85%;
    padding: 50px 7%;
  }

  .liens a {
    font-size: 1.1em;
  }

	#projets {
		padding: 5px 10px;
    font-size: 1em;
	}

  .title {
    width: 85%;
  }

  #closePanel{
    margin-bottom: 30px;
    width: 30px;
  }

  .toogleBtn{
    width: 40px;
  }

  .title h2 {
    display: none;
  }

  .infoBg {
    display: none;
  }
  .info {
    box-shadow: inset 0 0px 40px var(--shadow);
    -webkit-box-shadow: inset 0 0px 40px var(--shadow);
    -moz-box-shadow: inset 0 0px 40px var(--shadow);
  }

  .infoBox{
    width: 100%;
    flex-direction: column;
  }

  .infoLeft {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .infoRight {
    width: 100%;
    padding: 30px;
  }
  .status {
    font-size: 1em;
  }

  .expBlock {
    padding: 20px;
  }

  .expBlock h2, .expBlock h3 {
    font-size: 1em;
  }
  .experiences {
    padding-bottom: 150px;
  }
  .competence {
    padding: 0;
    margin-top: 15px;
  }
  .containerFrise {
    padding: 0;
  }
  .frise {
    flex-direction: column;
    padding: 30px 0;
    position: relative;
  }

  .step span {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .step {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: start;
    text-align: start;
    position: relative; 
  }
   .step::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--accent);
    grid-column: 1;
    justify-self: center;
  }

  .step::after {
    content: "";
    position: absolute;
    top: 15px; 
    left: 19px; 
    width: 3px;
    height: calc(140%);
    background-color: var(--accent);
    z-index: -1;
  }

  .step:last-child::after {
    display: none;
  }

  .more_about_me {
    padding: 7rem 1.7rem 0 2rem;

  }

}

@media screen and (max-height: 880px) {
  .os {
    margin-top: 20px;
  }

}


@media screen and (min-width : 1200px ){ 

  .profilePicture {
    display: flex;
    justify-content: center;
  }

  .profilePicture img {
    width: 50%;
  }

  header {
    padding: 0 2%;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.5em;
  }

}
@media screen and (min-width : 1900px ){ 
  .about_me {
    max-width: none;
  }
}
@media screen and (min-width : 2700px ){ 


  .infoBox {
    height: 50vh;
  }

  .infoLeft {
    padding: 100px 0;
  }

  .profilePicture {
    display: flex;
    justify-content: center;
  }

  .profilePicture img {
    width: 50%;
  }

  header {
    padding: 0 2%;
  }

  .title h1 {
    font-size: 3.5em;
  }

  .title h2 {
    font-size: 3em;
  }

  .liens a{
    font-size: 2.5em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.7em;
  }

  h3 {
    font-size: 2em;
  }

  p, .skill {
    font-size: 1.6em;
  }

  .liensInfo {
    width: 450px;
    height: 50px;
  }
  .liensInfo a {
    font-size: 1.5em;
  } 

  #projets {
    font-size: 2.1em;
    padding: 15px 30px;
    border-radius: 50px;
  }

  .point {
    font-size: 7em;
  }
  .year {
    font-size: 1.7em;
  }

  .place {
    font-size: 1.7em;
  }

  .status {
    font-size: 1.8em;
  } 

  .maitrises ul, .non-maitrises ul{ 
    font-size: 1.8em;
  }

  #contacte {
    height: 800px;
  }
}


@media screen and (max-width: 380px) {
	.liensInfo {
		width: 100%;
	}

	.liensInfo a{
		font-size: .8rem;
	}

	.toogleBtn {
		width: 30px;
	}
}

@media screen and (max-width: 1450px) {
  .experience {
    grid-template-columns: repeat(2, 1fr);
  }
}